/* Stylowanie całej aplikacji */
body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  height: 100%;
}

.app {
  text-align: center;
}

/* Navbar */
.navbar {
  position: sticky;
  top:0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #d32f2f;
  color: white;
  min-height: 40px;
}

.navbar .logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar .nav-links {
  list-style: none;
  display: flex;
  gap: 15px;
  margin: 0;
}

.navbar .nav-links li {
  cursor: pointer;
  transition: color 0.3s;
}

.navbar .nav-links li:hover {
  color: #ffcccb;
}

.navbar .cart {
  cursor: pointer;
}




/* Główna sekcja */
.main-section {
  height: calc(100vh - 60px); /* Wysokość minus navbar */
  background:
          linear-gradient(
                  rgba(0,0,0,0.7),
                  rgba(0,0,0,0.7)
          ),
          url("./assets/pizza-3007395_1920.jpg");
  background-size: cover;
  background-position: center;

  display: flex;
  justify-content: center;
  align-items: center;
}



/* Prostokąt w centrum */
.selection-box {
  background-color: rgba(255, 255, 255, 0.95);
  padding: 20px 40px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(255, 255, 255, 0.2);
  text-align: center;
}

.selection-box h2 {
  margin-bottom: 20px;
}

.dropdown {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  z-index: 50;
}

.select-button {
  width: 100%;
  padding: 10px 20px;
  background-color: #d32f2f;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.select-button:hover {
  background-color: #b71c1c;
}


/* Kafelki z pizzami */
.menu-grid{
  background-color: #f3f3f3;
}

.pizzas-container {
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  gap: 30px;
  padding: 25px;
  background-color: #f3f3f3;
  z-index: 1;
}

.pizza-card {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s;
}

.pizza-card:hover img {
  transform: scale(1.10);
  overflow: hidden;
}

.pizza-card img {
  width: 100%;
  height: 250px;
  object-fit: scale-down;
  transition: transform 0.3s ease-in-out;
}

.pizza-details {
  padding: 10px;
  text-align: left;
}

.pizza-details h2 {
  margin: 0px 0px 10px 0px;
  color: black;
}

.pizza-description {
  font-size: 0.9rem;
  color: #555;
  margin: 10px 0;
}

.pizza-select {
  margin: 10px 0;
  text-align: left;
}

.pizza-select select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.additional-info{
  font-size: 1.05rem;
  font-weight: bold;
  color: #da521c;
  margin-left: 5px;
}

.add-button {
  width: 95%;
  margin-left: 2.5%;
  font-size: 1rem;
  padding: 12px 20px;
  background-color: #d32f2f;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.add-button:hover {
  background-color: #b71c1c;
}

/* Koszyk */


.cart h2 {
  color: #d32f2f;
}

.cart ul {
  list-style: none;
  padding: 0;
}

.cart li {
  margin: 5px 0;
}

.cart-dropdown {
  z-index: 3;
  color:black;
  position: absolute;
  top: 75%;
  right: 20px;
  width: 400px;
  background-color: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 15px;

}

.cart-items {
  z-index: 3;
  color:black;
  list-style: none;
  margin: 0;
  padding: 0;
}

.clear-cart {
  width: 100%;
  padding: 10px;
  background-color: #d32f2f;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s;
}

.submit-order {
  width: 100%;
  padding: 10px;
  background-color: #00b93e;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s;
}
.clear-cart:hover {
  background-color: #b71c1c;
}
.submit-order:hover {
  background-color: #019632;
}
.cart-title{
  width: 100%;
  border-width: 0px 0px 1px 0px;
  border-color: #c7c7c7;
  border-style: solid;
  margin-bottom: 20px;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}

.cart-item-controls {
  display: flex;
  align-items: center;
  gap: 5px;
}

.cart-item-btn {
  background-color: #ff6347;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.cart-item-btn:hover {
  background-color: #ff4500;
}

.cart-item-quantity {
  font-size: 16px;
  padding: 0 5px;
}

.cart-bounce {
  animation: bounce 0.3s ease-in-out;
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}


/* login */
.container {
  background:
          linear-gradient(
                  rgba(0,0,0,0.4),
                  rgba(0,0,0,0.5),
                  rgba(0,0,0,0.4)
          ),
          url("./assets/rb_2.png");
  background-repeat: no-repeat;
  background-position: right 20% bottom 100% ;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 60px);
  background-color: #252424;

}


.card {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  text-align: center;
  width: 400px;
  position:relative;
}

.input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 4px;
  border: 2px solid #ddd;
  font-size: 16px;
  box-sizing: border-box;
  outline: none;
  background-color: lightgrey;
  transition: all 160ms;
}

.input:focus {
  border-color: #019632;
  background-color: white;
}

.input:not(:focus).input:not(:placeholder-shown){
  background-color: white;
}

.form{
  position:relative;
}

.form_label_login{
  position: absolute;
  left: 2rem;
  top: 6.3rem;
  color: #575757;
  transition: top 100ms ease-in,
  left 50ms ease-in,
  font-size 100ms ease-in,
  background-color 90ms ease-in;
  cursor:text;
}

.input#email:focus ~ .form_label_login,
.input#email:not(:placeholder-shown).input#email:not(:focus) ~ .form_label_login{
  top: 4.8rem;
  left: 2.8rem;
  font-size: 0.85rem;
  background-color: white;
  padding: 0.3rem 0.5rem;
}

.form_label_passwd{
  position: absolute;
  left: 2rem;
  top: 10.1rem;
  color: #575757;
  transition: top 100ms ease-in,
  left 50ms ease-in,
  font-size 100ms ease-in,
  background-color 90ms ease-in;
  cursor:text;
}

.input#password:focus ~ .form_label_passwd,
.input#password:not(:placeholder-shown).input#password:not(:focus) ~ .form_label_passwd{
  top: 8.5rem;
  left: 2.8rem;
  font-size: 0.85rem;
  background-color: white;
  padding: 0.3rem 0.5rem;
}


.input:-webkit-autofill,
.input:-webkit-autofill:hover,
.input:-webkit-autofill:focus,
.input:-webkit-autofill:active
{
  color : black !important;
  -webkit-text-fill-color: black !important;
  -webkit-box-shadow: 0 0 0 1000px white inset !important;
  -webkit-background-clip: text !important;
  background-clip: text !important;
}

.submitButton{
  padding: 10px 20px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  margin-top: 10px;
}

.error{
  color: red;
  margin-top: 10px;
}

.footer {
  margin-top: 10px;
}

.linkButton{
  padding: 10px 20px;
  background-color: white;
  text-decoration: underline;
  font-size: 0.9rem;
  color: #ec0b0b;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

.homeButtonContainer {
  margin-top: 20px;
  text-align: center;
}
.homeButton {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

/* Order Summary */
.container-order-summary{
    background-color: #fafafa;
}

.order-summary {
  background-color: #fefefe;
  font-family: Arial, sans-serif;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-top: 20px;
  box-shadow: 5px 7px 23px -13px rgba(66, 68, 90, 1);
}

h1, h2 {
  color: #333;
}

.cart-summary, .user-details, .payment-delivery {
  margin-bottom: 20px;
}

.cart-item {
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 10px;
}

input[type="text"] {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[type="radio"] {
  margin-right: 10px;
}

button.submit-order {
  background-color: #28a745;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button.submit-order:hover {
  background-color: #218838;
}